[submodule "/Users/jordanm/Documents/Projects/teach.github.com/presentations/dependencies/plugins"]
	path = /Users/jordanm/Documents/Projects/teach.github.com/presentations/dependencies/plugins
	url = https://github.com/jordanmccullough/hydeslides-plugins.git
