@import url(http://fonts.googleapis.com/css?family=Coming+Soon);

@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);

$font-handwriting: "Coming Soon";
$font-title: 'Montserrat Alternates', sans-serif;
$font-content: 'Roboto', serif;
