/*
Errno::ENOENT: No such file or directory - theme.scss

Backtrace:
/opt/boxen/rbenv/versions/1.9.3-p231-tcs-github-1.0.11/lib/ruby/gems/1.9.1/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:339:in `read'
/opt/boxen/rbenv/versions/1.9.3-p231-tcs-github-1.0.11/lib/ruby/gems/1.9.1/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/opt/boxen/rbenv/versions/1.9.3-p231-tcs-github-1.0.11/lib/ruby/gems/1.9.1/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/opt/boxen/rbenv/versions/1.9.3-p231-tcs-github-1.0.11/lib/ruby/gems/1.9.1/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:201:in `each'
/opt/boxen/rbenv/versions/1.9.3-p231-tcs-github-1.0.11/lib/ruby/gems/1.9.1/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/opt/boxen/rbenv/versions/1.9.3-p231-tcs-github-1.0.11/lib/ruby/gems/1.9.1/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:235:in `watch'
/opt/boxen/rbenv/versions/1.9.3-p231-tcs-github-1.0.11/lib/ruby/gems/1.9.1/gems/sass-3.2.7/lib/sass/plugin.rb:107:in `method_missing'
/opt/boxen/rbenv/versions/1.9.3-p231-tcs-github-1.0.11/lib/ruby/gems/1.9.1/gems/sass-3.2.7/lib/sass/exec.rb:445:in `watch_or_update'
/opt/boxen/rbenv/versions/1.9.3-p231-tcs-github-1.0.11/lib/ruby/gems/1.9.1/gems/sass-3.2.7/lib/sass/exec.rb:307:in `process_result'
/opt/boxen/rbenv/versions/1.9.3-p231-tcs-github-1.0.11/lib/ruby/gems/1.9.1/gems/sass-3.2.7/lib/sass/exec.rb:41:in `parse'
/opt/boxen/rbenv/versions/1.9.3-p231-tcs-github-1.0.11/lib/ruby/gems/1.9.1/gems/sass-3.2.7/lib/sass/exec.rb:21:in `parse!'
/opt/boxen/rbenv/versions/1.9.3-p231-tcs-github-1.0.11/lib/ruby/gems/1.9.1/gems/sass-3.2.7/bin/sass:9:in `<top (required)>'
/opt/boxen/rbenv/versions/1.9.3/bin/sass:23:in `load'
/opt/boxen/rbenv/versions/1.9.3/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - theme.scss"; }
