/*Colors*/


$background-solid: #2b2c25;

$bright-color: #1aafec;
$bright-mnch: #eee;
$dark-mnch: #2b2c25;
$mid-mnch: #b9c5d4;
$light-mnch: #a4a59a;

$color-dark: #4c0909;
$color-medium: #613132;
$color-medium-light: #b90000;
$color-light: #de5053;
$color-bright: #e4c7c7;

$color-danger: #f10000;
$color-warn: #f27800;
$color-good: #009e0f;

/*Sticky*/
$sticky-dark: #9e7300;
$sticky-medium: #e5cd62;
$sticky-light: #fff799;
$sticky-bright: #fffab4;

/*Alternate*/
$alt-dark: #9e7300;
$alt-medium: #e5cd62;
$alt-light: #fff799;
$alt-bright: #fffab4;

/*Monochrome*/
$mnch-dark: #232322;
$mnch-medium: #333333;
$mnch-light: #e1e1e1;
$mnch-bright: #f1f1f1;