/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  font-family: $font-content;
  font-size: 38px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: $mid-mnch;
  background:  $background-solid;

  background: #505f6b; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #505f6b 12%, #303841 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(12%,#505f6b), color-stop(100%,#303841)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #505f6b 12%,#303841 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #505f6b 12%,#303841 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #505f6b 12%,#303841 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, #505f6b 12%,#303841 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505f6b', endColorstr='#303841',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

::selection {
  color: $bright-mnch;
  background: $bright-color;
  text-shadow: none;
}

/*********************************************
 * HEADERS
 *********************************************/


h1 {
  font-family: $font-title;
  font-size: 3em;
  letter-spacing: -.05em;
  color: $bright-mnch;
  text-shadow: 2px 2px 3px $dark-mnch, -1px 2px 0 $dark-mnch, 0 3px 0 $mid-mnch, 0 2px 0 $bright-mnch;
  text-align: center;
}
h2{
  font-size: 1.8em;
  font-family: $font-title;
  color: $bright-color;
  text-shadow: 0 2px 3px $dark-mnch;
  margin: auto auto .5em auto;
}

h3{
  font-size: 1.2em;
  color: $bright-mnch;
  font-weight: normal;
}

/*********************************************
 * LINKS
 *********************************************/
a:not(.image) {
  color: $bright-mnch;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease;
}

a:not(.image):hover {
  color: $bright-mnch;
  text-shadow: none;
  border: none;
}

.roll span:after {
  color: #fff;
  background: $bright-color;
}

/*********************************************
 * IMAGES
 *********************************************/
section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 0 0 8px $bright-mnch, 0 0 0 9px $dark-mnch;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

a:hover img {
  background: $light-mnch;
  border-color: $light-mnch;
  box-shadow: 0 0 20px $dark-mnch;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.controls div.navigate-left,
.controls div.navigate-left.enabled {
  border-right-color: $dark-mnch;
}

.controls div.navigate-right,
.controls div.navigate-right.enabled {
  border-left-color: $dark-mnch;
}

.controls div.navigate-up,
.controls div.navigate-up.enabled {
  border-bottom-color: $dark-mnch;
}

.controls div.navigate-down,
.controls div.navigate-down.enabled {
  border-top-color: $dark-mnch;
}

.controls div.navigate-left.enabled:hover {
  border-right-color: $dark-mnch;
}

.controls div.navigate-right.enabled:hover {
  border-left-color: $dark-mnch;
}

.controls div.navigate-up.enabled:hover {
  border-bottom-color: $dark-mnch;
}

.controls div.navigate-down.enabled:hover {
  border-top-color: $dark-mnch;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.progress {
  background: $dark-mnch;
}

.progress span {
  background: $mid-mnch;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}