/*Chapter Identifier Headers for Sub-Sections*/
.reveal .chapter-banner{
	font-family: $font-title;
	color: $mid-mnch;
	margin: 0 auto .5em auto;
}
	.reveal .chapter-banner::before{
		content: '\2014';
		height: 1em;
		display: inline-block;
	}
	.reveal .chapter-banner::after{
		content: '\2014';
		height: 1em;
		display: inline-block;
	}

/* Headshots and Special Image Styling */
.headshot{
	height: 40%;
	width: auto;
	border-radius: 50%;
	box-shadow: 0 0 0 5px $mid-mnch, 0 0 1em $dark-mnch;
}

/*Stage Building Diagrams*/
.diagram-group{
	position: relative;
	max-width: 100%;
	max-height: 100%;
	background: $bright-mnch;
	box-shadow: 10px 0 0 0 $mnch-bright, -10px 0 0 0 $mnch-bright, 0 0 30px $mnch-medium;
	border-radius: .5em;
	overflow: hidden;
}
	.reveal section .fragment.diagram{
		background: $mnch-bright;
		max-height: 100%;
	}
	.reveal section .fragment.diagram:nth-child(n+2){
		display: none;
	}
	.reveal section .fragment.diagram.visible:nth-child(n+2){
		display: block;
		top: 0;
		position: absolute;
	}