/* Override to resolve Font-Awesome & RevealJS styling on icon- conflict */
i[class^="icon-"]{
	font-family: FontAwesome;
	font-style: normal;
}

/* Background Octocat watermark */
body::before{
	content: "";
  -webkit-mask-box-image: url(../backgrounds/blacktocat-2.png) round round;
  background: $color-medium;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .07;
  height: 100%;
  width: 100%;
}

/* Authorship/curriculum footer*/
body::after{
	content: "Official GitHub training curriculum v4.0.0";
	position: absolute;
	bottom: 3px;
	right: 0;
	z-index: 5000;
	height: 1em;
	width: 100%;
	text-align: center;
	color: $color-light;
	font-size: .4em;
	z-index: 5000;
	padding-top: .5em;
	padding-bottom: .5em;
	/*
	-webkit-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	transform:rotate(-90deg);
	*/

	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(47%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.reveal code{
  font-size: 1.1em;
  line-height: 1.1em;
}
