/*Colors*/
$color-dark: #1875c6;
$color-medium: #00a5ea;
$color-medium-light: #bcd3e5;


$color-light: #c9e1f5;
$color-bright: #E0F4FF;

$color-danger: #f10000;
$color-warn: #f27800;
$color-good: #009e0f;

/*Alternate*/
$alt-dark: #9e7300;
$alt-medium: #e5cd62;
$alt-light: #fff799;
$alt-bright: #fffab4;



/*Monochrome*/
$mnch-dark: #000;
$mnch-medium: #555;
$mnch-light: #F1F1F1;
$mnch-bright: #fff;