/* Alt Backgrounds */
.chapter .reveal .state-background {
	background: $color-dark;
	opacity: .2;
}
.reveal .brand{
	background: url(branding/github_logo_social_coding.png) no-repeat center;
	background-size: contain;
	height: 6em;
	width: 98%;
	margin: auto auto 1em auto;
}



.reveal .git{
	background: url(branding/git-logo-black.png) no-repeat center;
	background-size: contain;
	height: 6em;
	width: 98%;
	margin: auto auto 1em auto;
}


.strike-out{
	text-decoration: line-through;
	color: $color-danger;
}

.circle{
	border: solid 3px $color-danger;
}

.good{
	color: $color-good;
}
.warn{
	color: $color-warn;
}
.danger{
	color: $color-danger;
}

.reveal .sticky{
	font-family: 'Coming Soon';
	background: $alt-bright;
	box-shadow: 0px 2px .25em $mnch-medium, 0 0 .66em $alt-medium, inset 0 0 3em $alt-light;
	border-radius: 5em 10em .25em 1.5em / 0.25em 0.25em 1em .25em;

	width: 66%;
	margin: 0 auto;
	padding: 1em 1em 1em 1em;

	background: rgb(254,252,234); /* Old browsers */
	background: -moz-linear-gradient(top,  $alt-bright 0%, $alt-light 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$alt-bright), color-stop(100%,$alt-light)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  $alt-bright 0%,$alt-light 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $alt-bright 0%,$alt-light 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  $alt-bright 0%,$alt-light 100%); /* IE10+ */
	background: linear-gradient(to bottom,  $alt-bright 0%,$alt-light 100%); /* W3C */

	-webkit-transform:rotate(-3deg);
	-ms-transform:rotate(-3deg);
	-moz-transform:rotate(-3deg);
	transform:rotate(-3deg);
}
	.reveal .sticky i[class^="icon-"]{
		font-size: 5em;
		display: block;
		line-height: 1.2em;
	}
	.reveal .sticky h1{
		font-size: 2.2em;
		font-weight: 600;
		color: $alt-dark;
		text-shadow: none;
		text-transform: uppercase;
		margin: 0;
		padding:0;
	}
	.reveal .sticky h2{
		font-size: 1.3em;
		color: $alt-dark;
		text-shadow: none;
	}