/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: $mnch-dark;

  background: $mnch-bright; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  $mnch-bright 7%, $mnch-light 85%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(7%,$mnch-bright), color-stop(85%,$mnch-light)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  $mnch-bright 7%,$mnch-light 85%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  $mnch-bright 7%,$mnch-light 85%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  $mnch-bright 7%,$mnch-light 85%); /* IE10+ */
  background: radial-gradient(ellipse at center,  $mnch-bright 7%,$mnch-light 85%); /* W3C */
}

.headshot{
  width: 33%;
  height: auto;
  border-radius: 50%;
}

.reveal section img.diagram{

}


::selection {
  color: $mnch-dark;
  background: $alt-light;
  text-shadow: none;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 0 0;
  line-height: 0.9em;
  /*text-transform: uppercase;*/
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.reveal h1 {
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: -.05em;
  color: $mnch-dark;

  /*text-shadow: 1px 1px 3px $mnch-medium, -1px 2px 0 $mnch-light, 0 3px 0 $mnch-medium, 0 4px 0 $mnch-light;*/
  border-top: solid 2px $color-light;
  border-bottom: solid 2px $color-light;
}
.reveal h2{
  font-size: 1.8em;
  font-family: "Lusitana";
  /*text-transform: lowercase;*/
  color: $color-dark;
  text-shadow: 0 0 2px $mnch-bright;
  margin: auto auto .15em auto;
}
  h1 + h2::before{
    content: '';
    border-top: solid 2px $color-dark;
    height: .25em;
    margin-top: .15em;
    width: 100%;
    display: block;
  }
  /*h1 + h2::before, h1 + h2::after{
    content: "";
    height: 1em;
    width: 1em;
    margin: 0 .25em;
    margin-bottom: -.7em;
    border-top: solid 2px $color-dark;
    display: inline-block;
  }*/

.reveal h3{
  font-size: 1.2em;
  color: $mnch-medium;
  font-weight: normal;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: $mnch-dark;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease;
}

.reveal a:not(.image):hover {
  color: $color-medium;
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: $color-medium;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 0 0 8px $mnch-bright, 0 0 0 9px $color-dark, 0 0 17px 5px $color-dark;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.reveal a:hover img {
  background: $mnch-light;
  border-color: $color-bright;
  box-shadow: 0 0 20px $mnch-medium;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: $color-dark;
}

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: $color-dark;
}

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: $color-dark;
}

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: $color-dark;
}

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: $color-dark;
}

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: $color-dark;
}

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: $color-dark;
}

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: $color-dark;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: $color-light;
}

.reveal .progress span {
  background: $color-dark;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}