/* Override to resolve Font-Awesome & RevealJS styling on icon- conflict */
i[class^="icon-"]{
	font-family: FontAwesome;
	font-style: normal;
}

/*Default RevealJS scales images too large for GitHub theme*/
.reveal img, .reveal iframe{
	max-height: 77%;
}

/*Chapter Identifier Headers for Sub-Sections*/
.reveal .chapter-banner{
	background: $color-light;
	width: 50%;
	margin: 0 auto .5em auto;
	color: $mnch-bright;
	text-transform: uppercase;
}
	.reveal .chapter-banner::before{
		content: '';
		display: inline-block;
		float: left;
		border-color: $color-light $color-light $color-light transparent;
	  border-style:solid;
	  border-width: 18px 14px 18px 12px;
	  width:0;
	  height:0;
	  margin-left: -20px;
	  margin-top: 5px;
	  /*-webkit-transform:rotate(-5deg);*/
	}
	.reveal .chapter-banner::after{
		content: '';
		display: inline-block;
		float: right;
		border-color: $color-light transparent $color-light $color-light;
	  border-style:solid;
	  border-width: 18px 14px 18px 12px;
	  width:0;
	  height:0;
	  margin-right: -20px;
	  margin-top: 5px;
	  /*-webkit-transform:rotate(5deg);*/
	}
	

/*Stage Building Diagrams*/
.diagram-group{
	position: relative;
	max-width: 100%;
	max-height: 100%;
	background: $mnch-bright;
	box-shadow: 10px 0 0 0 $mnch-bright, -10px 0 0 0 $mnch-bright, 0 0 30px $mnch-medium;
	border-radius: .5em;
	overflow: hidden;
}
.reveal section .fragment.diagram{
	background: $mnch-bright;
	max-height: 100%;
}
.reveal section .fragment.diagram:nth-child(n+2){
	display: none;
}
.reveal section .fragment.diagram.visible:nth-child(n+2){
	display: block;
	top: 0;
	position: absolute;
}

/* Background Octocat watermark */
body::before{
	content: "";
  -webkit-mask-box-image: url(backgrounds/blacktocat-2.png) round round;
  background: $color-medium;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .07;
  height: 100%;
  width: 100%;
}

/* Authorship/curriculum footer*/
body::after{
	content: "Official GitHub training curriculum v4.0.0";
	position: absolute;
	bottom: 3px;
	right: 0;
	z-index: 5000;
	height: 1em;
	width: 100%;
	text-align: center;
	color: $color-light;
	font-size: .4em;
	z-index: 5000;
	padding-top: .5em;
	padding-bottom: .5em;
	/*
	-webkit-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	transform:rotate(-90deg);
	*/

	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(47%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	-webkit-hyphens: none;
	   -moz-hyphens: none;
	        hyphens: none;

	word-break: none;
	word-break: none;
}

.reveal code{
  font-size: 1.1em;
  line-height: 1.1em;
}
