@import url(../../revealjs/css/reveal.min.css);
@import url(../../font-awesome/css/font-awesome.min.css);
@import url(../../revealjs/lib/css/zenburn.css);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Coming+Soon);
@import url(http://fonts.googleapis.com/css?family=Montserrat|Lusitana);
/* Core Dependency Styles */
/* Theme */
/*Colors*/
/*Alternate*/
/*Monochrome*/
/* Override to resolve Font-Awesome & RevealJS styling on icon- conflict */
i[class^="icon-"] {
  font-family: FontAwesome;
  font-style: normal; }

/*Default RevealJS scales images too large for GitHub theme*/
.reveal img, .reveal iframe {
  max-height: 77%; }

/*Chapter Identifier Headers for Sub-Sections*/
.reveal .chapter-banner {
  background: #c9e1f5;
  width: 50%;
  margin: 0 auto 0.5em auto;
  color: white;
  text-transform: uppercase; }

.reveal .chapter-banner::before {
  content: '';
  display: inline-block;
  float: left;
  border-color: #c9e1f5 #c9e1f5 #c9e1f5 transparent;
  border-style: solid;
  border-width: 18px 14px 18px 12px;
  width: 0;
  height: 0;
  margin-left: -20px;
  margin-top: 5px;
  /*-webkit-transform:rotate(-5deg);*/ }

.reveal .chapter-banner::after {
  content: '';
  display: inline-block;
  float: right;
  border-color: #c9e1f5 transparent #c9e1f5 #c9e1f5;
  border-style: solid;
  border-width: 18px 14px 18px 12px;
  width: 0;
  height: 0;
  margin-right: -20px;
  margin-top: 5px;
  /*-webkit-transform:rotate(5deg);*/ }

/*Stage Building Diagrams*/
.diagram-group {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  background: white;
  box-shadow: 10px 0 0 0 white, -10px 0 0 0 white, 0 0 30px #555555;
  border-radius: .5em;
  overflow: hidden; }

.reveal section .fragment.diagram {
  background: white;
  max-height: 100%; }

.reveal section .fragment.diagram:nth-child(n+2) {
  display: none; }

.reveal section .fragment.diagram.visible:nth-child(n+2) {
  display: block;
  top: 0;
  position: absolute; }

/* Background Octocat watermark */
body::before {
  content: "";
  -webkit-mask-box-image: url(backgrounds/blacktocat-2.png) round round;
  background: #00a5ea;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .07;
  height: 100%;
  width: 100%; }

/* Authorship/curriculum footer*/
body::after {
  content: "Official GitHub training curriculum v4.0.0";
  position: absolute;
  bottom: 3px;
  right: 0;
  z-index: 5000;
  height: 1em;
  width: 100%;
  text-align: center;
  color: #c9e1f5;
  font-size: .4em;
  z-index: 5000;
  padding-top: .5em;
  padding-bottom: .5em;
  /*
  -webkit-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  transform:rotate(-90deg);
  */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 47%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(47%, white), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 47%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 47%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 47%, white 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 47%, white 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */ }

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  word-break: none;
  word-break: none; }

.reveal code {
  font-size: 1.1em;
  line-height: 1.1em; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

/* Alt Backgrounds */
.chapter .reveal .state-background {
  background: #1875c6;
  opacity: .2; }

.reveal .brand {
  background: url(branding/github_logo_social_coding.png) no-repeat center;
  background-size: contain;
  height: 6em;
  width: 98%;
  margin: auto auto 1em auto; }

.reveal .git {
  background: url(branding/git-logo-black.png) no-repeat center;
  background-size: contain;
  height: 6em;
  width: 98%;
  margin: auto auto 1em auto; }

.strike-out {
  text-decoration: line-through;
  color: #f10000; }

.circle {
  border: solid 3px #f10000; }

.good {
  color: #009e0f; }

.warn {
  color: #f27800; }

.danger {
  color: #f10000; }

.reveal .sticky {
  font-family: 'Coming Soon';
  background: #fffab4;
  box-shadow: 0px 2px 0.25em #555555, 0 0 0.66em #e5cd62, inset 0 0 3em #fff799;
  border-radius: 5em 10em 0.25em 1.5em/0.25em 0.25em 1em 0.25em;
  width: 66%;
  margin: 0 auto;
  padding: 1em 1em 1em 1em;
  background: #fefcea;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fffab4 0%, #fff799 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fffab4), color-stop(100%, #fff799));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fffab4 0%, #fff799 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fffab4 0%, #fff799 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fffab4 0%, #fff799 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fffab4 0%, #fff799 100%);
  /* W3C */
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  transform: rotate(-3deg); }

.reveal .sticky i[class^="icon-"] {
  font-size: 5em;
  display: block;
  line-height: 1.2em; }

.reveal .sticky h1 {
  font-size: 2.2em;
  font-weight: 600;
  color: #9e7300;
  text-shadow: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0; }

.reveal .sticky h2 {
  font-size: 1.3em;
  color: #9e7300;
  text-shadow: none; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: black;
  background: white;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, white 7%, #f1f1f1 85%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(7%, white), color-stop(85%, #f1f1f1));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, white 7%, #f1f1f1 85%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, white 7%, #f1f1f1 85%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, white 7%, #f1f1f1 85%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, white 7%, #f1f1f1 85%);
  /* W3C */ }

.headshot {
  width: 33%;
  height: auto;
  border-radius: 50%; }

.reveal section img.diagram {
  /* No Op*/
  border: none;
  box-shadow: none; }

::selection {
  color: black;
  background: #fff799;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 0 0;
  line-height: 0.9em;
  /*text-transform: uppercase;*/
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

.reveal h1 {
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: -.05em;
  color: black;
  /*text-shadow: 1px 1px 3px $mnch-medium, -1px 2px 0 $mnch-light, 0 3px 0 $mnch-medium, 0 4px 0 $mnch-light;*/
  border-top: solid 2px #c9e1f5;
  border-bottom: solid 2px #c9e1f5; }

.reveal h2 {
  font-size: 1.8em;
  font-family: "Lusitana";
  /*text-transform: lowercase;*/
  color: #1875c6;
  text-shadow: 0 0 2px white;
  margin: auto auto 0.15em auto; }

h1 + h2::before {
  content: '';
  border-top: solid 2px #1875c6;
  height: .25em;
  margin-top: .15em;
  width: 100%;
  display: block; }

/*h1 + h2::before, h1 + h2::after{
  content: "";
  height: 1em;
  width: 1em;
  margin: 0 .25em;
  margin-bottom: -.7em;
  border-top: solid 2px $color-dark;
  display: inline-block;
}*/
.reveal h3 {
  font-size: 1.2em;
  color: #555555;
  font-weight: normal; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: black;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  -ms-transition: color 0.15s ease;
  -o-transition: color 0.15s ease;
  transition: color 0.15s ease; }

.reveal a:not(.image):hover {
  color: #00a5ea;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #00a5ea; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 0 0 8px white, 0 0 0 9px #1875c6, 0 0 17px 5px #1875c6;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.reveal a:hover img {
  background: #f1f1f1;
  border-color: #e0f4ff;
  box-shadow: 0 0 20px #555555; }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #1875c6; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #1875c6; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #1875c6; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #1875c6; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #1875c6; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #1875c6; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #1875c6; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #1875c6; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: #c9e1f5; }

.reveal .progress span {
  background: #1875c6;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
