<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" media="screen" href="/stylesheets/screen.css" type="text/css" />
    {% if site.feedburner %}
    <link href="http://feeds.feedburner.com/{{ site.feedburner.id }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />
    {% endif %}
    {% if site.google_analytics %}
    <!-- google analytics async -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.google_analytics.account }}']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}
  </head>
  <body>
    <div id="page">
      <div id="header">
        <a href="/"><h1>{{ site.title }}</h1></a>
      </div>
      <div id="body">
        {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
        {{ content }}
      </div>
    </div>

  {% if site.github %}
    <a href="http://github.com/{{ site.github.username }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
  {% endif %}
  </body>
</html>
